{% extends "base.html" %}
{% block content %}
  <section>
      <h1>Webmention Dashboard</h1>
      <p>Sign in to the webmention dashboard.</p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <p class="error">
              <em>{{ messages }}</em>
          </p>
      {% endif %}
      {% endwith %}
      <form action="/login" method="POST">
          <label for="username">Your username:</label><br />
          <input type="username" name="username" id="username" placeholder="Your username" /><br />
          <label for="password">Your password:</label><br />
          <input type="password" name="password" id="password" placeholder="Your password" /><br />
          <input type="submit" value="Sign in">
      </form>
  </section>
{% endblock %}