<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{% if get_flashed_messages() %}Send Webmention Form Error - {% endif %}{% if title %}{{ title }}{% else %}Webmention Feed{% endif %}</title>
    
    <meta name="description" content="MentionMe lets you send and receive webmentions.">
    <meta name="twitter:description" content="MentionMe lets you send and receive webmentions.">
    <meta name="og:description" content="MentionMe lets you send and receive webmentions.">
  
    <meta name="og:site_name" content="MentionMe">
  
    <meta property="og:image" content="/static/feed.png">
    <meta name="twitter:image:src" content="/static/feed.png">

    <link rel="manifest" href="/manifest.json">
  
    <meta name="twitter:card" content="summary">

    <link rel="icon" href="/favicon.ico">

    <link rel="apple-touch-icon" sizes="16x16" href="/static/icons/16.png">

    <link rel="apple-touch-icon" sizes="100x100" href="/static/icons/100.png">

    <link rel="apple-touch-icon" sizes="196x196" href="/static/icons/196.png">

    <link rel="apple-touch-icon" sizes="256x256" href="/static/icons/256.png">

    <meta name="apple-touch-fullscreen" content="yes" />

    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <meta name="apple-mobile-web-app-title" content="MentionMe">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <link rel="webmention" href="https://webmention.jamesg.blog/endpoint" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <style id="darkmode" media="all">
      html, .citation_box, details, summary, .social li, nav, .feed li {
        background-color: #1F2937;
      }
      a {
        color: lightgreen;
        border-bottom: 2px dotted lightgreen;
      }
      a:hover {
        color: #ccc;
      }
      h1, h2, h3 {
        color: orange;
      }
      .social_interaction, .webmention {
        background: none;
      }
      p, li, dt, dd, .indieweb_footer, input, label {
        color: white;
      }
      input, textarea, .feed li, .main_content_box, .mobile_modal {
        background-color: #0c2548;
        background: #0c2548;
        color: #ccc;
      }
    </style>
  </head>
  <body>
    <main>
      <a href="#main" class="accessibility_label_top">Skip to main content</a>
      <nav id="top_navigation">
        <a href="/" style="border: none;"><img src="/static/icons/50.png"></a>
        {% if session.get("me") %}
        <ul id="mobile_navigation">
          <li><a onclick="trigger_modal('settings')">Menu</a></li>
        </ul>
        <ul id="desktop_navigation">
          <li><a href="/send">Send a Webmention</a></li>
          <li><a href="/sent">Sent Webmentions</a></li>
          <li><a href="/vouch">Vouch Settings</a></li>
          <li><a href="/stats">Statistics</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        {% else %}
        <ul>
          <li><a href="/login">Login</a></li>
        </ul>
        {% endif %}
      </nav>
      <script>
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.getElementById('darkmode').media = "all";
        }

        if (localStorage.getItem('darkmode') == "true") {
          document.getElementById('darkmode').media = "all";
        } else if (localStorage.getItem('darkmode') == "false") {
          document.getElementById('darkmode').media = "none";
        }

        var navigation = document.getElementById("top_navigation");
        var ul = navigation.getElementsByTagName("ul")[0];
        
        var li = document.createElement("li");
        var dark_style = document.getElementById("darkmode");
  
        if (dark_style.media === "all") {
          li.innerHTML = "<a onclick='toggleTheme();'>Light Mode</a>";
        } else {
          li.innerHTML = "<a onclick='toggleTheme();'>Dark Mode</a>";
        }

        ul.appendChild(li);
  
        function toggleTheme() {
          if (dark_style.media === "all") {
            dark_style.media = "none";
            li.innerHTML = "<a onclick='toggleTheme();'>Dark Mode</a>";
            localStorage.setItem('darkmode', 'false');
          } else {
            dark_style.media = "all";
            li.innerHTML = "<a onclick='toggleTheme();'>Light Mode</a>";
            localStorage.setItem('darkmode', 'true');
          }
        }

        function trigger_modal(id) {
            var modal = document.getElementById(id);
            if (modal.style.display == "none") {
                modal.style.display = "block";
            } else {
                modal.style.display = "none";
            }
        }
      </script>
      <div id="main">
        {% block content %}
        {% endblock %}
      </div>
      <section class="mobile_modal" style="display: none;" id="settings">
        <h2>MentionMe</h2>
        <span class="close mobile_close" onclick="trigger_modal('settings')">&times;</span>
        <ul class="spaced_list">
          <li><a href="/send">Send a Webmention</a></li>
          <li><a href="/sent">Sent Webmentions</a></li>
          <li><a href="/vouch">Vouch Settings</a></li>
          <li><a href="/stats">Statistics</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </section>
      <p class="accessibility_label"><a href="#main">Go Back to the Top</a></p>
    </main>
  </body>
</html>