<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% if get_flashed_messages() %}Send Webmention Form Error - {% endif %}{% if title %}{{ title }}{% else %}Webmention Feed{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main>
      <a href="#main" class="accessibility_label">Skip to main content</a>
      <nav>
        <p><a href="/">Webmention Endpoint</a></p>
        {% if session.get("me") %}
        <ul>
          <li><a href="/send">Send a Webmention</a></li>
          <li><a href="/sent">Sent Webmentions</a></li>
          <li><a href="/stats">Statistics</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        {% else %}
        <ul>
          <li><a href="/login">Login</a></li>
        </ul>
        {% endif %}
      </nav>
      <div id="main">
        {% block content %}
        {% endblock %}
      </div>
      <footer>
        <ul>
          {% if config.SHOW_SETUP == True %}
            <li><a href="/setup">Setup Instructions</a></li>
          {% endif %}
          {% if session.get("me") %}
            <li><a href="/received">Received (JSON)</a></li>
            <li><a href="/sent/json">Sent (JSON)</a></li>
            <li><a href="/rss">RSS Feed</a></li>
          {% endif %}
        </ul>
      </footer>
      <p class="accessibility_label"><a href="#main">Go Back to the Top</a></p>
    </main>
  </body>
</html>