{% extends "base.html" %}
{% block content %}
<style>
    .feed li {
        background: white;
        border-radius: 15px;
        border: 1px solid lightgrey;
        margin-bottom: 10px;
        padding: 10px;
    }
</style>
<section class="feed">
    <h1>Hello, {{ session.get("me").replace("https://", "").replace("http://", "").strip("/") }}!</h1>
    <p>You have received {{ received_count }} webmention{% if received_count != 1 %}s{% endif %}.</p>
    <ul>
      {% for w in webmentions %}
        <li>
            {% if w[4] == "like-of" %}
            {% set post_type = "❤️ Like" %}
            {% elif w[4] == "mention-of" %}
            {% set post_type = "💬 Mention" %}
            {% elif w[4] == "bookmark-of" %}
            {% set post_type = "🔖 Bookmark" %}
            {% else %}
            {% set post_type = "💬 Webmention" %}
            {% endif %}
        {% if w[3] %}
        <p>{{ " ".join(w[3].split(" ")[:75]) }} {% if w[3].split(" ") | length > 75 %}... <a href="{{ w[0] }}">Read more</a>{% endif %}</p>
        {% else %}
        {% if w[6] %}
        <div><img src="{{ w[6] }}" alt="Profile picture for {{ w[5] }}" height="50" width="50" /><p>Webmention from <a href="{{ w[7] }}">{{ w[5] }}</a></p></div>
        {% else %}
        {% endif %}
        {% endif %}
          <p>{{ post_type }} from {% if w[5] %}<a href="{{ w[0] }}">{{ w[5] }}</a>{% else %}<a href="{{ w[0] }}">{{ w[0].split("//")[1].split("/")[0] }}</a> {% endif %} to <a href="{{ w[1] }}">{{ w[1] }}</a>. Received on {{ w[2] | convert_time }}.</p>
          <form action="/delete" method="POST">
            <input type="hidden" name="source" value="{{ w[0] }}">
            <input type="hidden" name="target" value="{{ w[1] }}">
            <input type="submit" value="Delete">
          </form>
        </li>
      {% endfor %}
    </ul>
    {% include "pagination.html" %}
</section>
{% endblock %}