{% extends "base.html" %}
{% block content %}
  <section>
    <h1>Webmention Dashboard</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="error">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% if sent == True %}
      <p>You have sent {{ count }} webmention{% if count != 1 %}s{% endif %}.</p>
    {% else %}
      <p>You have received {{ received_count }} webmention{% if received_count != 1 %}s{% endif %}.</p>
    {% endif %}
  </section>
  <section>
    {% if sent == True %}
    <h2>Your sent webmentions</h2>
    {% if webmentions | length == 0 %}
    <p>You have not sent any webmentions yet.</p>
    {% else %}
    {% if sort == "oldest" %}
      <p>Below are the webmentions you have sent, sorted in order of the webmentions sent longest ago.</p>
      <p><a href="/sent">Sort webmentions in order of the newest first.</a></p>
      <hr>
    {% else %}
      <p>Below are the webmentions you have sent, sorted in order of the webmentions sent most recently.</p>
      <p><a href="/sent?sort=oldest">Sort webmentions in order of the oldest first.</a></p>
      <hr>
    {% endif %}
    {% for w in webmentions %}
      <ul>
          <li>
            <h3>Webmention to {{ w[2].split("//")[1] }}</h3>
            <p>Target: <a href="{{ w[2] }}">{{ w[2] }}</a></p>
            <p>Source: <a href="{{ w[1] }}">{{ w[1] }}</a></p>
            <p>Sent: {{ w[3] | convert_time }}</p>
            <p>Status: {{ w[4] }}</p>
            <p>Message: <code><pre>{{ w[5] }}</pre></code></p>
            <p><a href="/sent/{{ w[0] }}">See webmention.</a></p>
            <hr />
          </li>
      </ul>
    {% endfor %}
    {% endif %}
    {% else %}
    <h2>Your webmentions</h2>
    {% if webmentions | length == 0 %}
    <p>You have not received any webmentions yet.</p>
    {% else %}
    {% if sort == "oldest" %}
      <p>Below are the webmentions you have received, sorted in order of the oldest webmentions received.</p>
      <p><a href="/">Sort webmentions in order of the newest first.</a></p>
      <hr>
    {% else %}
      <p>Below are the webmentions you have received, sorted in order of the newest webementions received.</p>
      <p><a href="/?sort=oldest">Sort webmentions in order of the oldest first.</a></p>
      <hr>
    {% endif %}
    {% for w in webmentions %}
      <ul>
          <li>
            <h3>Webmention from {% if w[5] %}{{ w[5] }}{% else %}{{ w[0].split("//")[1] }} {% endif %}</h3>
            <p>Target: <a href="{{ w[1] }}">{{ w[1] }}</a></p>
            <p>Source: <a href="{{ w[0] }}">{{ w[0] }}</a></p>
            <p>Property: {{ w[4] }}</p>
            <p>Sent on {{ w[2] | convert_time }}</p>
            {% if w[3] %}
            <p>{{ " ".join(w[3].split(" ")[:75]) }} {% if w[3].split(" ") | length > 75 %}... <a href="{{ w[0] }}">Read more</a>{% endif %}</p>
            {% endif %}
            <form action="/delete" method="POST">
              <input type="hidden" name="source" value="{{ w[0] }}">
              <input type="hidden" name="target" value="{{ w[1] }}">
              <input type="submit" value="Delete">
            </form>
            <hr />
          </li>
      </ul>
    {% endfor %}
    {% endif %}
    {% endif %}
  </section>
  <ol class="tab">
    {% if page != 1 %}
    <li class="pages"><a href="{{ base_results_query }}?page={{ page -1 }}" rel="prev">Previous</a></li>
    {% endif %}
    {% for i in range(1, page_count+1) %}
      {% if i < 3 or i in [page-1, page, page+1] or i in [page_count-1, page_count] %}
        <li class="pages"><a href="{{ base_results_query }}?page={{ i }}" {% if i == page %}class="active_tab"{% endif %}>{{ i }}</a></li>
      {% endif %}
      {% if (i == page-2) or (i == page+2 and page+2 != page_count) %}
        <li>...</li>
      {% endif %}
    {% endfor %}
    {% if page < page_count %}
    <li class="pages"><a href="{{ base_results_query }}?page={{ page + 1 }}" rel="next">Next</a></li>
    {% endif %}
  </ol>
{% endblock %}