{% extends "base.html" %}
{% block content %}
  <section>
    <h1>Webmention Dashboard</h1>
    {% if sent == True %}
      <p>You have sent {{ webmentions | length }} webmention{% if webmentions | length != 1 %}s{% endif %}.</p>
    {% else %}
      <p>You have received {{ webmentions | length }} webmention{% if webmentions | length != 1 %}s{% endif %}.</p>
    {% endif %}
  </section>
    <section>
    <h2>Send a webmention</h2>
    <p>Use the form below to send a webmention.</p>
    <form action="/send" method="POST">
      <input type="text" name="source" placeholder="Source" />
      <input type="text" name="target" placeholder="Target" />
      <br />
      <input type="submit" label="Submit">
    </form>
  </section>
  <section>
    {% if sent == True %}
    <h2>Your sent webmentions</h2>
    <p>Below are all of the webmentions you have sent.</p>
    {% for w in webmentions %}
      <ul>
          <li>
            <h3>Webmention to {{ w[1].split("/")[1] }}</h3>
            <p>Target: <a href="{{ w[1] }}">{{ w[1] }}</a></p>
            <p>Source: <a href="{{ w[0] }}">{{ w[0] }}</a></p>
            <p>Sent: {{ w[2].split(" ")[0] }}</p>
            <p>Status: {{ w[3] }}</p>
            <p>Message: <code><pre>{{ w[4] }}</pre></code></p>
            <hr />
          </li>
      </ul>
    {% endfor %}
    {% else %}
    <h2>Your webmentions</h2>
    <p>Below are the webmentions you have received.</p>
    {% for w in webmentions %}
      <ul>
          <li>
            <h3>Webmention from {% if w[5] %}{{ w[5] }}{% else %}{{ w[0].split("/")[2] }} {% endif %}</h3>
            <p>Target: <a href="{{ w[1] }}">{{ w[1] }}</a></p>
            <p>Source: <a href="{{ w[0] }}">{{ w[0] }}</a></p>
            <p>Sent on {{ w[2].split(" ")[0] }}</p>
            <p>{{ w[3] }}</p>
            <hr />
          </li>
      </ul>
    {% endfor %}
    {% endif %}
  </section>
  <ol class="tab">
    {% if page != 1 %}
    <li class="pages"><a href="{{ base_results_query }}?page={{ page -1 }}" rel="prev">Previous</a></li>
    {% endif %}
    {% for i in range(1, page_count+1) %}
      {% if i < 3 or i in [page-1, page, page+1] or i in [page_count-1, page_count] %}
        <li class="pages"><a href="{{ base_results_query }}?page={{ i }}" {% if i == page %}class="active_tab"{% endif %}>{{ i }}</a></li>
      {% endif %}
      {% if (i == page-2) or (i == page+2 and page+2 != page_count) %}
        <li>...</li>
      {% endif %}
    {% endfor %}
    {% if page < page_count %}
    <li class="pages"><a href="{{ base_results_query }}?page={{ page + 1 }}" rel="next">Next</a></li>
    {% endif %}
  </ol>
{% endblock %}