{% extends "base.html" %}
{% block content %}
<section class="feed h-app h-x-app main_content_box">
    <img src="https://jamesg.blog/assets/coffeeshop.jpg" height="100" width="100" class="u-logo" alt="James sitting in a coffee shop, happily staring at a cup of coffee.">
    <h1>Welcome to <a href="https://webmention.jamesg.blog" class="u-url p-name">James' Webmention Endpoint</a>!</h1>
    <p>This webmention endpoint is run by {{ config.ME }}.</p>
    <p class="p-summary">This site lets you view your webmentions (for approved users only).</p>
    <h2>What are webmentions?</h2>
    <p>The webmention specification provides a way in which websites can send interactions to each other such as likes, replies, and bookmarks.</p>
    <p>Many sites owned by IndieWeb community members (including this one!) support receiving webmentions.</p>
    <p>Pictured below is an example of how reactions sent using the webmention protocol show up on <a href="https://jamesg.blog/2021/09/29/coffee-chat-conor-hbw-coffee">one of my blog posts</a>:</p>
    <img src="https://jamesg.blog/assets/VPghLwebmentions.png" alt="Example of a comments section on my site">
    <p>By using webmentions, site owners can send comments to each other and retain control over their comment. This is not possible on traditional social media platforms where the platform usually owns all comments and content you produce.</p>
    <h2>How can I learn more about webmentions?</h2>
    <p>If you want to get started with webmentions, check out the <a href="https://indieweb.org/Webmention">IndieWeb Webmention wiki page</a>. That page contains guidance on the basics of webmentions, how they are used, and how you can start adding webmentions to your own site.</p>
    <h2>Can I host my own webmention endpoint?</h2>
    <p>Yes! You can host your own webmention endpoint on your own server. You can deploy a version of this webmention endpoint by going to <a href="https://github.com/capjamesg/webmention-receiver">the project GitHub page</a> and following the instructions.
</section>
{% endblock %}