{% extends "base.html" %}
{% block content %}
<section class="main_content_box">
    <h1>Send a webmention</h1>
    <p>Use the form below to send a webmention.</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="error">
        {% for message in messages %}
            <li>Error: {{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <form action="/send" method="POST">
        <label for="source">Webmention source (the page on your site that links to the recipient):</label><br>
        <input type="url" name="source" id="source" placeholder="https://jamesg.blog/your-webmention-source" required/><br>
        <label for="target">Webmention recipient:</label><br>
        <input type="url" name="target" id="target" placeholder="https://jamesg.blog/webmention-target" required/><br>
        <input type="submit" value="Submit Webmention">
    </form>
</section>
{% endblock %}