{% extends "base.html" %}
{% block content %}
<style>
    .feed li {
        background: white;
        border-radius: 15px;
        border: 1px solid lightgrey;
        margin-bottom: 10px;
        padding: 10px;
    }
</style>
<section class="feed">
    <h1>Hello, {{ session.get("me").replace("https://", "").replace("http://", "").strip("/") }}!</h1>
    <p>You have been registered to this webmention endpoint since {{ user.registered_date }}</p>
    <h2>Mark webmentions as pending moderation</h2>
    <p>You can mark webmentions as "pending moderation". This means that you can receive comments that are only displayed when you approve them.</p>
    <p>The "pending moderation" attribute only applies to replies.</p>
</section>
{% endblock %}