{% extends "base.html" %}
{% block content %}
<style>
    .feed li {
        background: white;
        border-radius: 15px;
        border: 1px solid lightgrey;
        margin-bottom: 10px;
        padding: 10px;
    }
</style>
<section class="feed">
    <h1>Setup Instructions</h1>
    <p>To use this webmention endpoint, add the following tag to the <code><head></head></code> tag on your web page:</p>
    <code><pre><link rel="webmention" href="https://webmention.jamesg.blog"></pre></code>
    <p>This tag will be used by webmention senders to find your webmention endpoint.</p>
    <p>Once this tag has been added to your site, you are ready to start receiving webmentions on your web page.</p>
</section>
{% endblock %}