{% extends "base.html" %}
{% block content %}
<style>
    .feed li {
        background: white;
        border-radius: 15px;
        border: 1px solid lightgrey;
        margin-bottom: 10px;
        padding: 10px;
    }
</style>
<section class="feed">
    <h1>Hello, {{ session.get("me").replace("https://", "").replace("http://", "").strip("/") }}!</h1>
    <p>You have received {{ received_count }} webmention{% if received_count != 1 %}s{% endif %}.</p>
    <p>You have sent {{ sent_count }} webmention{% if sent_count != 1 %}s{% endif %}.</p>
    <p>Here is a breakdown of all of your received webmentions by webmention type:</p>
    <ul>
        {% for type, count in received_types %}
        {% if type == "like-of" %}
        {% set post_type = "❤️ Like" %}
        {% elif type == "mention-of" %}
        {% set post_type = "🤖 Mention" %}
        {% elif type == "bookmark-of" %}
        {% set post_type = "🔖 Bookmark" %}
        {% else %}
        {% set post_type = "💬 Reply" %}
        {% endif %}
        <li>{{ post_type }}s: {{ count }}</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}