{% extends "base.html" %}
{% block content %}
<section class="main_content_box">
    <h1>Send a webmention</h1>
    <p>Use the form below to send a webmention.</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="error">
        {% for message in messages %}
            <li>Error: {{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <form action="/send" method="POST" class="send_webmention_form">
        <label for="source">Webmention source (the page on your site that links to the recipient):</label><br>
        <input type="url" name="source" id="source" placeholder="https://jamesg.blog/your-webmention-source" required /><br>
        <label for="target">Webmention recipient:</label><br>
        <input type="url" name="target" id="target" placeholder="https://jamesg.blog/webmention-target" required /><br>
        <label for="target">Webmention vouch (optional):</label><br>
        <input type="url" name="vouch" id="vouch" placeholder="https://anothersite.com/page" /><br>
        <details>
            <summary>What is a vouch?</summary>
            <p>A vouch is a URL that links to your site. You can use a vouch to show that the site to which you are sending your webmention should trust your webmention is not spam.</p>
            <p>For a vouch to be used, the vouch URL you specify must appear in a list of approved domains maintained by the webmention receiver.</p>
            <p>If you do not specify a vouch URL (or the site to which your webmention is being sent does not support vouch), your webmention may be flagged for moderation before being published.</p>
        </details>
        <input type="submit" value="Submit Webmention">
    </form>
</section>
{% endblock %}