{% extends "base.html" %}
{% block content %}
<style>
    .feed li {
        background: white;
        border-radius: 15px;
        border: 1px solid lightgrey;
        margin-bottom: 10px;
        padding: 10px;
    }
</style>
<section class="main_content_box">
    <h1>Hello, {{ session.get("me").replace("https://", "").replace("http://", "").strip("/") }}!</h1>
    <h2>Overall Webmention Stats</h2>
    <p>You have received {{ received_count }} webmention{% if received_count != 1 %}s{% endif %}.</p>
    <p>You have sent {{ sent_count }} webmention{% if sent_count != 1 %}s{% endif %}.</p>
    <p>{{ pending_webmention_count }} incoming webmention{% if pending_webmention_count != 1 %}s{% endif %} are queued to be processed.</p>
    <p>{{ moderation_webmention_count }} webmention{% if pending_webmention_count != 1 %}s{% endif %} are hidden or in moderation.</p>
    <h2>Webmentions Received by Type</h2>
    <p>Here is a breakdown of all of your received webmentions by webmention type:</p>
    <ul>
        {% for type, count in received_types %}
        {% if type == "like-of" %}
        {% set post_type = "❤️ Like" %}
        {% elif type == "mention-of" %}
        {% set post_type = "🤖 Mention" %}
        {% elif type == "bookmark-of" %}
        {% set post_type = "🔖 Bookmark" %}
        {% elif post_type == "rsvp" %}
        {% set post_type = "🎉 RSVP" %}
        {% elif type == "repost-of" %}
        {% set post_type = "🔁 Repost" %}
        {% elif type == "reply" %}
        {% set post_type = "💬 Reply" %}
        {% elif type == "poke-of" %}
        {% set post_type = "👉 Poke" %}
        {% else %}
        {% set post_type = "❓ Unknown" %}
        {% endif %}
        <li>{{ post_type }}: {{ count }}</li>
        {% endfor %}
    </ul>
    <h2>Webmentions Received by Date</h2>
    <p>Here is a breakdown of webmentions received by month:</p>
    <ul>
        {% for month, count in received_months %}
        <li>{{ month }}: {{ count }}</li>
        {% endfor %}
    </ul>
    <p>Here is a breakdown of received webmentions by year:</p>
    <ul>
        {% for year, count in received_years %}
        <li>{{ year }}: {{ count }}</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}